*.pyc
*.swp
*.swo
local_settings.py
.coverage
tests/xml
tests/html
coverage.xml
_install/
build
.project
.pydevproject
.DS_Store
cover/
nosetests.xml
_pip.log
_pip/
local_settings2.py
*.egg
*.egg-info
